doc/* linguist-documentation
autom4te.cache/* linguist-vendored
img/* linguist-vendored
aclocal.m4 linguist-vendored
AUTHORS linguist-vendored
ChangeLog linguist-vendored
compile linguist-vendored
config.guess linguist-vendored
config.h.in linguist-vendored
config.sub linguist-vendored
configure linguist-vendored
configure.ac linguist-vendored
COPYING linguist-vendored
depcomp linguist-vendored
Doxyfile linguist-vendored
INSTALL linguist-vendored
install-sh linguist-vendored
ltmain.sh linguist-vendored
Makefile.am linguist-vendored
Makefile.in linguist-vendored
missing linguist-vendored
NEWS linguist-vendored
Project.ede linguist-vendored
README.md linguist-vendored
